.App {
  text-align: center;
}

.titulo{
  text-align: center;
  margin: auto;
}

.contenedor{
  margin: auto;
  max-width: 500px;
  flex-wrap: wrap;
}

.boton{
  width: 100px;
  padding: 10px;
  border-color: blue;
  background-color: transparent;
  margin: 5px;
  color: black;
  text-transform: capitalize;
} 